body {
    background-color: black;
    color: white;
    font-family: "Creepster", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    font-size:x-large;
}

button {
    background-color: black;
    color: red;
    font-family: "Creepster", system-ui;
    font-size: large;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 75%;
}

.bola {
   width: 8%;
   right: 5%;
   display: flex;
   position: absolute;
   bottom: 5%;
}

.rock {
    width: 8%;
    left: 5%;
    display: flex;
    position: absolute;
    bottom: 5%;
}

.AVISO {
    display: flex;
    width: 10%;
    left: 5%;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    bottom: 30%;
}